<div id="video-container">
	<video autoplay loop muted id="my-video" class="video">
	  <source src="assets/film.mov" type="video/mp4">
	</video>
</div>
<div id="signInForm">
	<div id="signin-container"><%= form_tag '/login', method: "POST" do %><ul>
		<li><%=label_tag :name %>
		<%=text_field_tag :name %></li>
		<li>
		<%=label_tag :address %>
		<%=text_field_tag :address %></li>
		<li>
		<%=label_tag :password %>
		<%=password_field_tag :password %></li>
		</ul>
	</div>
</div>
	<div><%=submit_tag "Sign in", class: "btn-login" %></div>
	<% end %>


