<div>
		<h1>Linden 311</h1>
	
	<button id="addPinButton"  onclick="deleteMarkers()" value="deleteMarkers">Remove Pin</button>

	<div style="width: 78%; height: 480px;" id="mapWrapper">
		<h3>Pin A Pothole</h3>
		<div id="googleMap" style="width: 100%;height: 98%;"></div>
	</div>

</div>

<script src="https://maps.googleapis.com/maps/api/js"
  type="text/javascript"></script>
<script>

	var map;

	function initialize() {
		var mapProp = {
		  	center:new google.maps.LatLng(40.630037, -74.250944),
		    zoom:14,
		    minZoom: 12,
		    disableDefaultUI: true,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		  };

		  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

		  google.maps.event.addListener(map, 'click', function(event) {

		// if (pmarker != null) {
		// 	marker.remove();
		// }

		    placeMarker(event.latLng);
				
		  });
	}

	var pmarker = [];

	function placeMarker(location) {

	// googleMap.clear()

	  var marker = new google.maps.Marker({
	    position: location,
	    map: map,
	    draggable: true,
    	animation: google.maps.Animation.DROP,
	  });
	  // for(var i = 0; i < pmarker.length; i++){
		 //  if (pmarker.length > 0){
		 //  	pmarker[0].remove();
		 //  }
	  // }
	  deleteMarkers();
	  pmarker.push(marker);

	  // attempted to add an event to limit the user to one marker
	  // at a time
	  // google.maps.event.addMarker(map, 'click', function(event) {
	  // 		map.clear();
	  // });

	  var pinned_lat = marker.position.lat();
	  var pinned_lng = marker.position.lng();

	  var contentString = '<%= form_for(@pothole) do |f| %>' +
		'<ul>'+
			'<li class="item"><%= f.label :street %>'+
			'<%= f.text_field :street %></li>'+
			'<li class="item"><%= f.label :date_reported %>'+
			'<%= f.date_field :date_reported %></li>'+
			'<li class="item"><%= f.label "Small" %>'+
			'<%= f.radio_button :size, "Small" %>'+
			'<%= f.label "Medium" %>'+
			'<%= f.radio_button :size, "Medium" %>'+
			'<%= f.label "Large" %>'+
			'<%= f.radio_button :size, "Large" %></li>'+
			'<li class="item"><%= f.label :description %>'+
			'<%= f.text_field :description %></li>'+
			'<input value="' + pinned_lat + '" type="hidden" name="pothole[latitude]" id="pothole_latitude" />' +
			'<input value="' + pinned_lng + '" type="hidden" name="pothole[longitude]" id="pothole_longitude" />' + 
			'<%= f.submit "Submit" %>'+
		'</ul>'+
		'<% end %>';

	

	  var infowindow = new google.maps.InfoWindow({
	    content: contentString
	  });
	  infowindow.open(map,marker);
	}

	function deleteMarkers() {
	  for (var i = 0; i < pmarker.length; i++) {
	  	pmarker[i].setMap(null);
	  }
	}

	google.maps.event.addDomListener(window, 'load', initialize);

</script>
